.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    // &-data {
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    // }
  }
}
.page-content {
  min-height: calc(100vh - 178px);
  border-radius: 10px;
  margin-top: -2rem;
  background: white;
  color: black;
  font-size: 2rem;
  padding: 20px;
}
.page-box {
  min-height: 120px;
  background: #1e293b;
  margin: 0 -1rem;
  font-size: 36px;
  padding: 10px;
  //   margin-top: 32px;
}

.page-data {
  //   text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //   border: red 1px solid;
  //   width: 100vh;
}
